* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #FFF1F1;
} 
 
 header {
    margin-top: 50px;
}

 header h1 {
    color: #3B0270;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.git {
  max-width: 300px;
  width: 70%;
  opacity: 0;
  transform: translateX(-800px) scaleX(-1) ;
  transition: transform 1s ease, opacity 1s ease;
  position: relative;
  z-index: 2;
}

.git.show {
  opacity: 1;
  transform: translateX(0) scaleX(-1);
}

.github {
  max-width: 270px;
  width: 70%;
  opacity: 0;
  transform: translateX(800px) scaleX(-1);
  transition: transform 1s ease, opacity 1s ease;
  position: relative;
  z-index: 2;
}

.github.show {
  opacity: 1;
  transform: translateX(0) scaleX(-1);
}